/*
Remove the default select styling.
*/
.et-dropdown select {
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

/*
Apply custom styling to containing div.
*/
.et-dropdown {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    min-width: 10ch;
    font-size: 1.25em;
    padding: 0.25em 0.5em;
    line-height: 1.1;
    cursor: pointer;
}

.et-dropdown select, .et-dropdown:after {
    grid-area: select;
}

.et-dropdown:after {
    justify-self: end;
}

.et-dropdown::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #000000;
    clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
}

.et-dropdown-outlined {
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.et-dropdown-filled {
    background-color: var(--primary);
    border-radius: 5px;
}

.et-dropdown-filled select {
    color: #ffffff;
}

.et-dropdown-filled::after {
    background-color: #ffffff;
}
